@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7em;
}

#showcase-1 {
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 20%; */
  background-attachment: fixed;
  background-image: url("./showcase/1-wtc-america-architecture-buildings-374710.jpg");
}

#showcase-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 80px;
  height: 40vh;
  /* background-color: red; */
  margin: 30px 0;
  font-size: 20px;
  word-spacing: 0.3em;
  text-align: center;
}

#showcase-2 p {
  padding-top: 20px;
}

#showcase-3 {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-image: url("./showcase/action-america-architecture-avenue-378570.jpg");
  /* filter: blur(2px); */
}
#showcase-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 80px;
  height: 40vh;
  margin: 30px;
  background-color: black;
  color: wheat;
  margin: 0px 0px;
  font-size: 20px;
  word-spacing: 0.3em;
  text-align: center;
}

#showcase-4 p {
  padding-top: 30px;
}

#showcase-5 {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./showcase/america-american-flag-architecture-bridge-450597.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#showcase-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 80px;
  height: 30vh;
  margin-top: 0px;
  background-color: black;
  color: wheat;
  margin: 0px 0px;
  font-size: 20px;
  word-spacing: 0.3em;
  text-align: center;
}
#showcase-6 h2 {
  padding-bottom: 40px;
}
#showcase-7 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./showcase/america-ancient-architecture-art-356844\ \(3\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#showcase-1 span {
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  letter-spacing: 0.6em;
  display: block;
  background-color: darkgray;
  padding: 20px 10px;
  border: none;
  z-index: 1;
}

#showcase-3 span {
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  letter-spacing: 0.6em;
  /* display: block;
    background-color: gray;
    padding: 20px 10px;
    border: none;
    z-index: 1; */
}

#showcase-5 span {
  text-transform: uppercase;
  font-size: 25px;
  color: black;
  letter-spacing: 0.6em;
}

#showcase-7 span {
  text-transform: uppercase;
  font-size: 25px;
  color: black;
  letter-spacing: 0.6em;
  /* display: inline; */
  background-color: darkgray;
  padding: 20px 10px;
  border: none;
  z-index: 1;
}

@media(max-width:568px){
    #showcase-1, #showcase-3, #showcase-5, #showcase-7{
        background-attachment: scroll;
    }
}