@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
}
* {
  /* box-sizing: border-box; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

header,
main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
  width: 70%;
  margin: 0 auto;
}
.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}
header {
  margin-top: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.side-photo {
  background-image: url("./images/photo-1522205987242-8e22924ab42a.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
  height: 100%;
  width: 100%;
}
.image-1 img {
  width: 100%;
}
.image-2 img {
  width: 100%;
}
.image-3 img {
  width: 100%;
}
.image-4 img {
  width: 100%;
}
.image-5 img {
  width: 100%;
}

section#work {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: silver;
}
section#photo-one {
  display: grid;
  place-items: center;
  text-align: center;
}
section#photo-two {
  display: grid;
  place-items: center;
  text-align: center;
}
section#photo-three {
  display: grid;
  place-items: center;
  text-align: center;
}
section#photo-four {
  display: grid;
  place-items: center;
  text-align: center;
}
section#photo-five {
  display: grid;
  place-items: center;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.bto a {
  text-decoration: none;
  color: grey;
}

.bto {
  border: 1px black;
}
